/**
 * File: Main.css
 * Names: Matt Jones, Kevin Zhou, Kevin Ahn, Jackie Hang
 * Class: CS 361
 * Project 4
 * Date: October 2, 2018
 * ---------------------------
 * Names: Zena Abulhab, Paige Hanssen, Kyle Slager Kevin Zhou
 * Project 5
 * Date: October 12, 2018
 * ---------------------------
 * Edited By: Zeb Keith-Hardy, Michael Li, Iris Lian, Kevin Zhou
 * Project 6/7/9
 * Date: October 26, 2018/ November 3, 2018/ November 20, 2018
 */

#vBox{
    -Str-color: blue;
    -Keyword-color: purple;
    -Int-color: firebrick;
    -Paren-color: teal;

}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,.scroll-bar:vertical .track{
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-radius: 5em;
}

#compileButton {
    -fx-font: 13 arial;
    -fx-base: lightblue;
    -fx-background-radius: 100;
}

#compileRunButton {
    -fx-font: 13 arial;
    -fx-base: lightgreen;
    -fx-background-radius: 100;
}

#stopButton {
    -fx-font: 13 arial;
    -fx-base: pink;
    -fx-background-radius: 100;
}

#scanParseButton {
    -fx-font: 13 arial;
    -fx-base: lightgreen;
    -fx-background-radius: 100;
}

#scanButton{
    -fx-font: 13 arial;
    -fx-base: lightblue;
    -fx-background-radius: 100;
}

#tabPane {
    -pref-height: 200px;
    -pref-width: 200px;
}

.keyword {
    -fx-fill: -Keyword-color;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: -Paren-color;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: -Paren-color;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: -Paren-color;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: -Str-color;
}

.comment {
    -fx-fill: cadetblue;
}

.intconst {
    -fx-fill: -Int-color;
}
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.output{
    -fx-fill: blue;
}

.error{
    -fx-fill: red;
}

.processInfo{
    -fx-fill: green;
}

.default{
    -fx-fill: black;
}

.code-area .lineno .text{
    -fx-fill: black;
}

#console .caret{
    -fx-stroke: black;
}
